<!DOCTYPE html>
<html lang="en">
 
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>YelpCamp </title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor(CampPage)/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="/css/main.css" rel="stylesheet">
  <!-- Custom styles for this template -->
 
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px;  /* The height is 400 pixels */
      width: 100%;  /* The width is the width of the web page */
     }
  </style>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">YelpCamp </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              User
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <!-- <a class="dropdown-item" href="full-width.html">Full Width Page</a>
              <a class="dropdown-item" href="sidebar.html">Sidebar Page</a>
              <a class="dropdown-item" href="faq.html">FAQ</a>
              <a class="dropdown-item" href="404.html">404</a>
              <a class="dropdown-item" href="pricing.html">Pricing Table</a> -->
              <a class="dropdown-item" href="">account</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Location
      <small>Towson University</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Home</a>
      </li>
      <li class="breadcrumb-item active">Location</li>
    </ol>

    <!-- Image Header -->
    <!-- <img class="img-fluid rounded mb-4" src="http://placehold.it/1200x300" alt=""> -->
    <img class="img-fluid rounded mb-4" src="towson.jpg" alt="">
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Google Map</h4>
          <div class="card-body">
            <p class="card-text"></p>
            <div id="map"></div>
            <script>
              // Initialize and add the map
              function initMap() {
                // The location of Uluru
                var location = {lat: 39.392, lng: -76.612};
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 4, center: location});
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({position: location, map: map});
              }
            </script>
            <script async defer
            src="https://maps.googleapis.com/maps/api/js?sensor=false&language=en-us&key=AIzaSyCRTSgwKuk3nQ9YPmlj5gOPMT40JTUiEiU&callback=initMap">
            </script>
           <!-- AIzaSyCRTSgwKuk3nQ9YPmlj5gOPMT40JTUiEiU  Singh's api -->
          <!-- AIzaSyDMKInuOwu3RUXt-9-V-GPeOZuVQU9PYLY    my api -->
          
          
          
          
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Info</h4>
          <div class="card-body">
            <p class="card-text">Towson university is a public university in Baltimore county, part of the university of Maryland system. Towson university was founded in 1866. Originally, towson was the first teacher training school in Maryland. At present, towson university has eight colleges and more than 20,000 students.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Comment</h4>
          <div class="card-body">
                     <!--    comment model -->
            
            <div class="row">
              <div class="col-md-12">
                <strong>
                    <a href="/users/5adc9268dc320d00149f14ce">sh</a>
                </strong>
                <span class="pull-right">2 years ago</span>
                <p>
                  Cool!
                </p>
                
                <hr>
              </div>
            </div>
          
            <div class="row">
              <div class="col-md-12">
                <strong>
                    <a href="/users/5adf6357560fd600145024ed">kashta</a>
                </strong>
                <span class="pull-right">2 years ago</span>
                <p>
                  test
                </p>
                
                <hr>
              </div>
            </div>
          
            <div class="row">
              <div class="col-md-12">
                <strong>
                    <a href="/users/5aeba41390ea4900149b3a02">carrot</a>
                </strong>
                <span class="pull-right">2 years ago</span>
                <p>
                  test
                </p>
                
                <hr>
              </div>
            </div>
                   <!--    comment model -->

          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
