extends layout

block content
  h1 Welcome to ParkReview
  p.lead A place to leave reviews for your favorite National Parks!
  hr
  .row
    .col-md-6
      h2 Towson University
      p Click here to view Towson University's campground review
      p
        a.btn.btn-raised(href='sample', role='button') View details »
    .col-md-6
      h2 Campground 2
      p Click here to view Campground 2's campground review
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Campground 3
      p Click here to view Campground 3's campground review
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Campground 4
      p Click here to view Campground 4's campground review
      p
        a.btn.btn-raised(href='#', role='button') View details »