extends layout.pug

block content
    body
    div.row
        .col-sm-12
            h2=title
            form(action="/parks/addPark", method='post')
                input(type='hidden', name='_csrf', value=_csrf)
                div.form-group
                    label(for='name') Enter Park Name:
                    input#name.form-control(type='text', placeholder='Park Name' name='name')
                div.form-group
                    label(for='image_link') Enter Image Link:
                    input#image_link.form-control(type='text', placeholder='Image Link' name='image_link')
                div.form-group
                    label(for='location') Enter Location:
                    input#location.form-control(type='text', placeholder='Location' name='location')
                div.form-group
                    label(for='established_date') Enter Established Date:
                    input#established_date.form-control(type='text', placeholder='Established Date' name='established_date')
                div.form-group
                    label(for='area') Enter Area:
                    input#area.form-control(type='text', placeholder='Area' name='area')
                div.form-group
                    label(for='yearly_visitors') Enter Yearly Visitors:
                    input#yearly_visitors.form-control(type='text', placeholder='Yearly Visitors' name='yearly_visitors')
                div.form-group
                    label(for='description') Enter Description:
                    input#description.form-control(type='text', placeholder='Description' name='description')
                div.form-group
                    label(for='twitter_id') Enter Twitter ID:
                    input#twitter_id.form-control(type='text', placeholder='Twitter ID' name='twitter_id')
                
                button.btn.btn-primary(type='submit') Submit