extends layout

block content
  h1 Welcome to ParkReview
  p.lead A place to leave reviews for your favorite National Parks!
  hr
  .row
    .col-md-6
      h2 Yellowstone
      p Click here to view Yellostone's reviews
      p
        a.btn.btn-raised(href='sample', role='button') View details »