extends layout

block content
  h1 Welcome to ParkReview
  p.lead A place to leave reviews for your favorite National Parks!
  hr
  .row
    .col-md-6
      h2 Acadia
      p Click here to view park reviews!
      p
        a.btn.btn-raised(href='park', role='button') View details »