extends layout

block content
  body
  h1 Welcome to ParkReview
  p.lead A place to get information for your favorite National Parks!
  hr
  img.img-fluid.rounded.mb-4(src='https://quotefancy.com/media/wallpaper/3840x2160/5219149-James-Bryce-Quote-The-national-park-is-the-best-idea-America-ever.jpg' alt='')
  .row
    .col-sm-6
       h2 View all Parks
       a.btn.btn-raised(href='parks', role='button') View Parks »
    .col-sm-6
        h2 Add a New Park
        a.btn.btn-raised(href='addPark', role='button') Add Parks »