
extends layout.pug
block content

  // Page Heading/Breadcrumbs
 
  h1.mt-4.mb-3
    | 
    small  Acadia
  
  img.img-fluid.rounded.mb-4(src='https://upload.wikimedia.org/wikipedia/commons/9/93/Bass_Harbor_Head_Light_Station_2016.jpg' alt='')
  // Marketing Icons Section
  .row
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Google Map
        .card-body
          p.card-text
          #map
         
        .card-footer
          a.btn.btn-primary(href='#') Learn More
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Description
        .card-body
          p.card-text
            | Covering most of Mount Desert Island and other coastal islands, Acadia features the tallest mountain on the Atlantic coast of the United States, granite peaks, ocean shoreline, woodlands, and lakes. There are freshwater, estuary, forest, and intertidal habitats.
    .col-lg-4.mb-4
      .card.h-100
        h4.card-header Comments
        .card-body
          // comment model
          .row
            .col-md-12
              strong
                a(href='/users/5adc9268dc320d00149f14ce') sh
              span.pull-right 2 years ago
              p
                | Cool!
                script.
                  document.write(comment);
              hr
          .row
            .col-md-12
              strong
                a(href='/users/5adf6357560fd600145024ed') kashta
              span.pull-right 2 years ago
              p
                | test
              hr
          .row
            .col-md-12
              strong
                a(href='/users/5aeba41390ea4900149b3a02') carrot
              span.pull-right 2 years ago
              p
                | test
              hr
          // comment model
        // comment
        
        
       
        
  
    
     
