extends layout

block content
  h1 List of National Parks
  hr
  .row
    each elem, i in parks
      .col-lg-4.mb-4
        .card.h-100
          a.btn.btn-raised(href='/parks/viewPark/' + elem.id, role='button', value=elem.id)
            h4.card-header !{elem.name}
            .card-body
              p.card-text
                img(src=elem.image_link height = '200px' width = '250px' alt='')